@media screen and (min-width: 1600px) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width: 1900px) {
  .container {
      max-width: 100%;
      margin: 0;
      padding: 0;
  }
}



body {
  margin: 0;
  padding: 0;
}
