body {
  margin: 0;
  padding: 0;
  background: #F9F9F9;
}
.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
  background: #FFF !important;
}
.jumbotron {
  background: #F9F9F9 !important;
}
.line1 {
  background: #F1F1F1;
  width: 100%;
  height: 1px;
}
.line2 {
  background: #F3F3F3;
  width: 100%;
  height: 1px;
}
.line3 {
  background: #F5F5F5;
  width: 100%;
  height: 1px;
}
.btn, .progress, .modal-content {
  border-radius: 0;
}
